.counts{
    width: 40%;
      float:left;
}

.counts1{
    width: 40%;
      float:left;
}

.box0{
    background-color: #FF10F0;
    height: 80px;
    width: 400px;
    display: inline-block;
    border-radius: 10rem;
    height: 50px;
    width: 250px;
    color: aliceblue;
    font-weight: bold;


  
}
#mo{
    margin-top: 30px;
    width: 1016px;
    height: 720px;
}
.box1{
    display: flex;
    flex-direction: column;
   align-self: center;
   align-items: center;
   justify-content: center;
}


span{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    width: 600px;
    height: 90px;
    line-height: 120%;
    
}

body{
    background-color: white;
}